@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    font-size: 100;
}
.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff4f4;
    height: 70px;;
}
.cabecalho-menu{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.cabecalho-menu-item1{
    color: #5bbcc7;
    font-weight: 500;
    font-size: 20px;
    gap: 5px;
}
.cabecalho-menu-item1:hover{
    color: #439CA6;
}
.cabecalho-cadastrar{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.cabecalho-menu-item{
    color: #5bbcc7;
    font-weight: 500;
    font-size: 20px;
}
.cabecalho-menu-item:hover{
    color: #439CA6;
}
.conteudo-menu-botao-cadastre-se{
    background-color: #5bbcc7;
    width: 130px;
    height: 40px;
    border: none;
    color: #fff4f4;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(180deg, #439CA6 0%, rgba(91, 188, 199, 0) 100%);
    background-repeat: no-repeat;
}
.conteudo-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center; 
    margin-top: 20px;  
}
.conteudo-imagem-logo{
    width: 50px;
    height: 50px;
}
.conteudo-escrito-logo{
    flex-direction: row;
    align-items: center;
    color: #fff4f4;
    font-weight: 700;
    font-size: 32px;
}
.conteudo-informativo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto; 
    height: calc(100vh - 120px);  
}
.conteudo-escrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-escrito-informacao{
    display: flex;
    color: #fff4f4;
    font-weight: 800;
    font-size: 20px;
    margin: 10px;
}
.conteudo-escrito-informacao1{
    display: flex;
    color: #fff4f4;
    font-weight: 800;
    font-size: 20px;
    margin-top: px;
}
.conteudo-imagem-celular{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20%;
    
}
.conteudo-imagem-home{
    width: 350px;
    height: 300px;
    animation: go-back 2s infinite alternate;
}
@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }
.conteudo-escrito2{
    color: #fff4f4;
    font-weight: 800;
    font-size: 16px;
}
.conteudo-escrito-slogam{
    color: #000;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
.conteudo-escrito-baixe{
    color: #000;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.conteudo-icone{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 40%;
}
.conteudo-imagem-Icone-google{
    width: 90px;
    height: 30px;
}
.conteudo-imagem-Icone-ios{
    width: 90px;
    height: 32px;
}
.rodape{
     display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background-color:#fff4f4;
}
.rodape-escrito{
    color: #000;
    font-weight: 800;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
.rodape-imagem-icones{
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.rodape-imagem{
    width: 20px;
    height: 20px;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conteudo-secundario-escrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.conteudo-secundario-pergunta{
    color: #439CA6;
    font-weight: 800;
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
}
.secundaria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.conteudo-secindario-escrito-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 30px 30px ;
    background-color: #439CA6;
    border-radius: 10%;
    text-align: center;
    padding: 30px;
}
.conteudo-card{
    color: #fff4f4;
    font-weight: 400;
    font-size: 18px;
    width: 240px;
    word-wrap: break-word;
    text-align: left;
}
.login-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 40px;
    padding-top: 20px;
    background: #fff4f4;
    border-radius:  5px;
    height: 300px ;
    width: 250px;
    position: absolute;
    top: 30%;
    left:40%;
}

.cadastro-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 40px;
    padding-top: 20px ;
    background-color: #fff4f4;
    border-radius: 5%;
    height: 400px ;
    width: 250px;
    position: absolute;
    top: 30%;
    left:40%;
}
.titulo{
color: #439CA6;
font-weight: 400;
font-size: 18px;
padding-left: 40px;
}
.titulo2{
    color: #439CA6;
    font-weight: 400;
    font-size: 18px;
    padding-left: 25px;
    }
.botoes{
    padding-left: 10px;
}
.btn-entrar{

    margin-top: 10px;
    background-color: #5bbcc7;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 30px;
  
}
.btn-fechar{
    margin-top: 10px;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 150px; 
    height: 30px; 
}
.btn-cadastrar{
    margin-top: 10px;
    background-color: #5bbcc7;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 30px
}
.invisible{
    display: none;
}
.error{
    color: red;
    font-size: 16px;
    text-align: center;
}
.campo{
    margin-bottom: 5px;
}

input{
    border-radius: 15px;
}
.campo input{
    padding: 6px;
    border: #fff4f4;
    background: rgba(255, 244, 244, 0.35);
    opacity: 0.6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 180px;
}
.campo label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 15px;
    color: #000;

}
.campo1{
    font-size: 10px;
    color: #000;
}
